<section class="container-fluid px-0 text-center">
    <div class="head-category text-center d-flex justify-content-between ">
        <span class="text-white"> CATEGORIES</span>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: {turbo: false},  class: " btn btn-light btn-sm  " %>
    </div>
    <div class="container d-flex flex-column px-3 ctn-group">
        <% if @groups.empty?%>
            <span> There is no categories. Create one</span>
        <% else%>
        <% @groups.each do |category|  %>
            <%= link_to group_entities_path(category.id) do %>
            <div class="d-flex align-items-center justify-content-between p-3 bg-white text-dark">
            
                    <div class="div-image">
                    <img src="<%= category.icon %>"  class= 'img'>
                    </div>
                     
                    <div class="d-flex flex-column  align-items-start  gap-3 ">
                    <span> <%= category.name %></span>
                    <span> <%= category.created_at.strftime("%d %b %y") %></span>

                    </div>

                    <span class="amount"> $ <%= category.total_amount %></span>
            
            
            </div>
        <%end%>  
        <%end%>
        <%end%>      
          
    </div>
    <%= link_to "New Category",  new_group_path, class: "new-group my-3 btn btn-primary sm"  %>
  
</section>
