
<section class="container-fluid px-0 bctn-sign">
  <div class="w-100 py-3 ctn-loghead">
    
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
    <path fill="currentColor" d="M20 11H7.83l5.59-5.59L12 4l-8 8l8 8l1.41-1.41L7.83 13H20v-2z"/>
    </svg>
    <p class="my-0">LOGIN</p>
    <p class="my-0">Log in</p>
  </div>
  <div class="container-fluid ctn-form px-0">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field my-1 >
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
  
    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  
  
    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
  
  </div>
  
  
</section>



